[files]
# Path to the input trajectory file
infile = ./0001/traj_d_small.nc
# Path to the output png files
outfile = ./render_png/at_strain_0-06_ref_-10_v0_.png
# Path to file containing modifiers instructions
modfile = ./ovitos_at-strain.mod

[settings]
# Output image size
width = 1024
height = 768
# Type of projection : ORHTO or PERPECTIVE
type = ORTHO
# Camera position
pos = 174.3 0 250.028
# Camera direction
dir = 0 1 0
# camera field of view
fov = 174.697
# range of animation : full (frame keyword not used) or single_frame at frame = X or custom
range = full

# render
zoom = 0
