alabaster
ansible
apipkg
appdirs
argcomplete
args
arrow
asn1crypto
astor
astroid
atomate
atomicwrites
attrs
Automat
autopep8
Babel
backcall
bcrypt
biopython
bleach
cairocffi
certifi
cffi
cftime
chardet
click
click-plugins
cliff
clint
cloudpickle
cmd2
colorama
constantly
coverage
cryptography
custodian
cycler
Cython
dataclasses
debtcollector
decorator
defusedxml
diff-match-patch
dill
docutils
dogpile.cache
dtool
dtool-annotation
dtool-cli
dtool-config
dtool-create==0.23.0
dtool-http
dtool-info
dtool-overlay
dtool-smb
dtool-symlink
dtool-tag
entrypoints
et-xmlfile
execnet
fabric
#fenics
#fenics-dijitso
#fenics-dolfin
#fenics-ffc
#fenics-fiat
#fenics-ufl
flake8
Flask
flask-paginate
GridDataFormats
GromacsWrapper
gsd
gunicorn
helpdev
html5lib
hunter
hy
hypothesis
idna
igraph
imageio
imageio-ffmpeg
imagesize
importlib-metadata
incremental
intervaltree
invoke
ipykernel
ipython
ipython-genutils
ipywidgets
iso8601
isort==4.3.21
itsdangerous
jdcal
jedi
jeepney
jgraph
Jinja2
jinja2-time
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
keyring
keystoneauth1
kiwisolver
lazy-object-proxy==1.4.3
lockfile
lxml
manhole
MarkupSafe
matplotlib
mccabe
MDAnalysis
MDAnalysisTests
miniball
mistune
mmtf-python
mock
mock-ssh-server
monty
more-itertools
moviepy
mpi4py
mpmath
msgpack
#mshr
munch
mypy
mypy-extensions
nbconvert
nbformat
netaddr
netCDF4
netifaces
networkx
nglview
notebook
numkit
numpy
numpydoc
openpyxl
openstacksdk
os-service-types
osc-lib
oslo.config
oslo.i18n
oslo.serialization
oslo.utils
packaging
palettable
pandas
pandocfilters
panedr
paramiko
ParmEd
parse
parso
pathtools
pbr
pep8
pexpect
pickleshare
pid
Pillow
Pint
pipdeptree
#pkg-resources
pkgconfig
pluggy
Pmw
prettytable
proglog
prometheus-client
prompt-toolkit
psutil
ptyprocess
PuLP
py
py2exe
pyasn1
pybind11
pycodestyle
pycparser
pydash
PyDispatcher
pydocstyle
pydot
pyflakes
Pygments
pylint
pymatgen
pymatgen-diffusion
pymongo
PyNaCl
pyOpenSSL
pyparsing
pyperclip
pypi-show-urls
PyQt5==5.12.3
PyQt5-sip
PyQtWebEngine==5.12.1
pyrsistent
pysmb
pytest
pytest-cov
pytest-datadir
pytest-forked
pytest-xdist
python-cinderclient
python-daemon
python-dateutil
python-glanceclient
python-igraph
python-jsonrpc-server
python-keystoneclient
python-language-server
python-novaclient
python-openstackclient
pytz
pyxdg
PyYAML
pyzmq
QDarkStyle
QtAwesome
qtconsole
QtPy
requests
requestsexceptions
rfc3986
rope
rply
ruamel.yaml
ruamel.yaml.clib
scipy
SecretStorage
Send2Trash
sentry-sdk
six
snowballstemmer
sortedcontainers
spglib
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
stevedore
sympy
tabulate
terminado
testpath
texttable
tornado
tqdm
traitlets
Twisted
typed-ast
typing-extensions
ujson==1.35
urllib3
versioneer
warlock
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
wurlitzer
xlrd
yapf
zipp
zope.interface
