aiohttp
alabaster
alembic
ansible
apipkg
ansible-base
appdirs
argcomplete
args
argon2-cffi
arrow
asn1crypto
astor
ase
asgiref
astroid
atomate
async-generator
async-timeout
atomicwrites
atomman
attrs
Automat
autopep8
Babel
backcall
bcrypt
biopython
bibtexparser
black
bleach
cairocffi
boto3
botocore
cdcs
certifi
cffi
cftime
chardet
click
click-plugins
cliff
clint
cloudpickle
cmd2
colorama
constantly
coverage
cryptography
custodian
cycler
Cython
dataclasses
debtcollector
DataModelDict
decorator
defusedxml
diff-match-patch
dill==0.3.1.1
docutils
dogpile.cache
dtool==3.25.0
dtool-annotation
dtool-cli
dtool-config
dtool-create==0.23.0
dtool-ecs
dtool-http
dtool-info
dtool-irods
dtool-lookup-api
dtool-lookup-server
dtool-lookup-server-dependency-graph-plugin
dtool-lookup-server-direct-mongo-plugin
dtool-lookup-server-plugin-scaffolding
dtool-overlay
dtool-s3
dtool-smb
dtool-symlink
dtool-tag
dtoolcore==3.17.0
entrypoints
et-xmlfile
execnet
fabric
fenics-dijitso
fenics-ffc
fenics-fiat
fenics-ufl
flake8
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
flask-paginate
GridDataFormats
GromacsWrapper
gsd
Flask-PyMongo
Flask-SQLAlchemy
future
fwrlm
gbulb
gunicorn
habanero
helpdev
html5lib
hunter
hy
hypothesis
idna
igraph
imageio
imageio-ffmpeg
imagesize
importlib-metadata
incremental
imteksimfw
iniconfig
intervaltree
invoke
ipykernel
ipython
ipython-genutils
ipywidgets
iso8601
isort==4.3.21
itsdangerous
jdcal
jedi
jeepney
jgraph
Jinja2
jinja2-time
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyterlab-pygments
jupytext
keyring
keystoneauth1
kiwisolver
lazy-object-proxy==1.4.3
lockfile
lxml
Mako
manhole
markdown-it-py
MarkupSafe
matplotlib
mccabe
MDAnalysis
MDAnalysisTests
miniball
mistune
mmtf-python
mock
mock-ssh-server
monty
more-itertools
moviepy
mpi4py
mpmath
msgpack
#mshr
munch
multidict
mypy
mypy-extensions
nbclient
nbconvert
nbformat
netaddr
netCDF4
netifaces
networkx
nglview
nest-asyncio
notebook
numkit
numericalunits
numpy
numpydoc
openpyxl
openstacksdk
os-service-types
osc-lib
oslo.config
oslo.i18n
oslo.serialization
oslo.utils
packaging
palettable
pandas
pandocfilters
panedr
paramiko
ParmEd
parse
parso==0.7.0
pathspec
pathtools
pbr
pep8
pexpect
pickleshare
pid
pigar
Pillow
Pint
pipdeptree
pkgconfig
pkginfo
pluggy
Pmw
prettytable
proglog
pockets
podman-compose
potentials
prometheus-client
prompt-toolkit
psutil
ptyprocess
PuLP
py
pyasn1
pybind11
pycairo
pycodestyle
pycparser
pydash
PyDispatcher
pydocstyle
pydot
pyflakes
Pygments
PyGObject
PyJWT
pylint
pymatgen
pymatgen-diffusion
pyls-black
pyls-spyder
pymongo
PyNaCl
pyOpenSSL
pyparsing
pyperclip
pypi-show-urls
PyQt5==5.12.3
PyQt5-sip
PyQtWebEngine==5.12.1
pyrsistent
pysmb
pytest
pytest-cov
pytest-datadir
pytest-forked
pytest-xdist
python-cinderclient
pytest-runner
python-daemon
python-dateutil
python-glanceclient
python-editor
python-igraph
python-jsonrpc-server
python-keystoneclient
python-language-server
python-novaclient
python-openstackclient
pytz
pyxdg
PyYAML
pyzmq
QDarkStyle
QtAwesome
qtconsole
QtPy
readme-renderer
regex
requests
requestsexceptions
requests-toolbelt
rfc3986
rope
rply
rst2html
ruamel.yaml
ruamel.yaml.clib
s3transfer
scipy
SecretStorage
Send2Trash
sentry-sdk
setuptools-scm
shyaml
six
snowballstemmer
sortedcontainers
spglib
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-napoleon
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
stevedore
SQLAlchemy
sympy
tabulate
terminado
testpath
texttable
three-merge
toml
toolz
tornado
tqdm
traitlets
Twisted
twine
typed-ast
typing-extensions
ujson==1.35
Unidecode
urllib3
versioneer
warlock
varlink
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
wurlitzer
xlrd
xmltodict
yapf
zipp
zope.interface
yarl
