click
pep517
tomli
adhesion
ase
asgiref
contactmechanics
cycler
dtool
dtool_lookup_api
dtoolcore
dtool-s3
gromacs
GromacsWrapper
imteksimfw
ipython
ipywidgets
Jinja2
matplotlib
MDAnalysis
miniball
nglview
numpy
openpyxl
ovito<=3.6.0
pandas
panedr
ParmEd
pymongo
pytest
PySide2
PyYAML
scipy
scikit-learn
seaborn
git+https://github.com/IMTEK-Simulation/code-snippets.git
