ase==3.21.1
asgiref==3.3.1
cycler==0.10.0
dtool_lookup_api==0.5.0
dtoolcore==3.18.0
fireworks==2.0.2
FireWorks.egg==info
gromacs==0.0.0
GromacsWrapper==0.8.0
imteksimfw==0.5.1
imteksimfw.egg==info
ipython==8.1.1
ipywidgets==7.6.3
Jinja2==2.11.2
matplotlib==3.3.3
MDAnalysis==2.1.0
miniball==1.0.4
nglview==2.7.7
numpy==1.19.5
ovito==3.6.0
pandas==1.2.1
panedr==0.5.2
ParmEd==3.2.0
pymongo==3.11.2
PySide2==5.15.2.1
PyYAML==6.0
scikit_learn==1.0.2
scipy==1.6.0
SurfaceTopography==0.101.3
